@mixin flexA{
    display: flex;
    align-items: center;
}

@mixin flexB ($item:space-between){
    display: flex;
    align-items: center;
    justify-content: $item;
}
@mixin flexC{
    @include felxA;
    justify-content: center;
}
 @mixin mx {
    margin: 0 auto;
 }